<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Service</title>
</head>
<body>
<div style="margin-left: 10%; margin-right: 10%;">
    <h3>🙂 회원 가입 </h3>
    <!-- 💡js를 통해 동작되도록 변경 -->
    <form id="postForm">
        <div>
            <label for="name">이름</label>
            <input type="text" id="name" name="name" size="10" maxlength="20">
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" size="10" maxlength="20">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" size="10" maxlength="20">
        </div>
        <div>
            <label for="file">이미지 파일</label>
            <input type="file" name="file" id="file">
        </div>
        <button type="submit">SUBMIT</button>
    </form>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.getElementById("postForm").addEventListener('submit',
        async function(event) { // await로 post 보낼거라 async 사용
            event.preventDefault();

            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const fileInput = document.getElementById("file");
            const file = fileInput.files[0] // file은 배열 형태로 get됨

            const formData = new FormData();
            formData.append("name", name);
            formData.append("email", email);
            formData.append("password", password);
            formData.append("file", file);

            // form 데이터 전송
            try{
                const response = await axios.post("http://localhost:8080/hello/axios-form-file-view",
                                formData, {headers : {'Content-Type': 'multipart/form-data'}});
                console.log(response.data);
            } catch(e) {
                console.log(e.message);
            }

        }
    ); // submit 타입, 콜백함수
</script>
</body>
</html>