<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body> 
    <!-- <object data="header.html" type="text/html" style="width:100%"></object> -->
    <object style="width:100%;" data="../common/header.html" type="text/html"></object>

    <!-- container : 부트스트랩의 컨테이너 클래스는 페이지의 내용을
    중앙에 정렬하고 양쪽에 패딩을 추가하고 내용을 감싸는 역할-->
    <div class="container" style="text-align: center; padding-top: 30px;">
        <div class="page-header"><h3>✏️게시글 목록</h3></div>
        <div class="float-end">
            <a href="./post_register_js_json.html" >
                <button type="submit" class="btn btn-primary">
                    글쓰기
                </button>
            </a>
            <!-- <button class="btn btn-secondary">글쓰기</button> -->
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Contents</th>
                </tr>
            </thead>
            <tbody id="tby">
            </tbody>
        </table>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function showList() {
            // 여기 주소 배포진행할 때 얻은 public 주소 넣어줌 
            const response1 = await axios.get("http://ec2-43-203-213-107.ap-northeast-2.compute.amazonaws.com:8081/post/list"); // 전체 다들어옴
            console.log(response1.data);

            let target = document.getElementById("tby");
            for (var i = 0; i < response1.data.length; i++) {
                target.innerHTML += `<tr><td>${response1.data[i].id}</td><td>${response1.data[i].title}</td><td>${response1.data[i].contents}</td></tr>`;
            }
        }
        showList();
    </script>

</body>
</html>

