<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body> 
    <object data="header.html" type="text/html" style="width:100%"></object>

    <!-- container : 부트스트랩의 컨테이너 클래스는 페이지의 내용을
    중앙에 정렬하고 양쪽에 패딩을 추가하고 내용을 감싸는 역할-->
    <div class="container" style="text-align: center;">
        <div class="page-header"><h3>🖥️게시글 조회</h3></div>
        <!-- <div class="float-end"><button class="btn btn-secondary">글쓰기</button></div> -->
        <div class="float-end">
            <input id="inputId" type="text">
            <button onclick="serverData()" class="btn btn-secondary">검색</button>
        </div>
         
        <table class="table" style="padding-top: 50px;">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td id="td_id"></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td id="td_title"></td>
                </tr>
                <tr>
                    <td>Contents</td>
                    <td id="td_contents"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function serverData() {

            const inputId = document.getElementById("inputId").value; // id 입력받기
            console.log(inputId);
            const response1 = await axios.get("http://localhost:8081/post/detail/" + inputId);
            console.log(response1.data);

            let idTarget = document.getElementById("td_id");
            let titleTarget = document.getElementById("td_title");
            let contentsTarget = document.getElementById("td_contents");

            idTarget.innerHTML = `${response1.data.id}`;
            titleTarget.innerHTML = `${response1.data.title}`;
            contentsTarget.innerHTML = `${response1.data.contents}`;
            // for (var i = 0; i < response1.data.length; i++) {
            //     console.log("들어옴1");
            //     if (inputId == response1.data[i].id) {
            //         console.log("들어옴2");
            //         userIdTarget.innerHTML += `${inputData[i].userId}`;
            //         idTarget.innerHTML += `${inputData[i].id}`;
            //         titleTarget.innerHTML += `${inputData[i].title}`;
            //         contentsTarget.innerHTML += `${inputData[i].body}`;
            //     }
            // }
        }
    
    </script>


</body>
</html>

