<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    </head>

    <body>
        <div th:fragment="headerFragment">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="/" class="navbar-brand mx-auto"> 🏠Home Page </a>
                <ul class="navbar-nav ml-auto">
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a href="/author/list" target="_parent" class="nav-link">회원 목록</a>
                    </li>
                    <li class="nav-item">
                        <a href="/post/list" target="_parent" class="nav-link">게시글 목록</a>
                    </li>
                    <li class="nav-item">
                        <a href="/author/create" target="_parent" class="nav-link">회원 가입</a>
                    </li>
                    <!-- 로그인, 로그아웃 버튼 생성/ 근데 로그인이 되었음 로그아웃 버튼만, 로그아웃 상태면 로그인 버튼만 보이게 -->
                    <li class="nav-item" th:if="${session.email == null}">
                        <a href="/author/login-screen" target="_parent" class="nav-link">로그인</a>
                    </li>
                    <li class="nav-item" th:if="${session.email != null}">
                        <a href="/doLogout" target="_parent" class="nav-link">로그아웃</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>